@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Colors */
  :root {
    --background: #ffffff;
    --heading-color: #171717;
    --body-color: #404040;
    --link-color: #171717;
    --link-underline-color: #38bdf8;
    --link-underline-hover-color: #0284c7;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #171717;
      --heading-color: #e5e5e5;
      --body-color: #a3a3a3;
      --link-color: #e5e5e5;
      --link-underline-color: #0284c7;
      --link-underline-hover-color: #38bdf8;
    }
  }

  /* Typography */
  body {
    background: var(--background);
    color: var(--body-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
  }
}
